@import "./vars.css";



@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}



.App {
  min-height: 100vh;
  /* Allows the page to grow when content overflows */
  width: 100%;
  overflow-x: hidden;
  /* Prevents horizontal scrolling */
  overflow-y: auto;
  /* Enables vertical scrolling */
  background: linear-gradient(-45deg, #1e3c72, #385d6b, #19376d, #213346);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
}
